* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #dadada;
}

.container {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: visible;
}

.container h1 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.preview {
  position: relative;
  display: block;
  min-height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  margin-bottom: 15px;
}

.preview h1 {
  font-family: serif;
  font-size: 1.5em;
  text-transform: none;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 10%;
}

/* Images and sizing */
.baku {
  background-image: url("../images/baku.jpg");
}

.london {
  background-image: url("../images/london.png");
}

.madrid {
  background-image: url("../images/madrid.jpg");
}

.rome {
  background-image: url("../images/rome.jpg");
}

/*iPad Screen Size*/
@media screen and (min-width: 575px) {
    .container {
      text-align: center;
    }

    .img {
      min-height: 250px;
      max-width: 400px;
    }

    .preview {
      width: 38%;
      height: 10%;
      display: inline-block;
      margin: .5%;
    }
}

/*Desktop Screen Size*/
@media screen and (min-width: 1199px) {
    .container {
      text-align: center;
    }

    img {
      min-height: 250px;
      max-width: 250px;
    }

    .preview {
      width: 18%;
      height: 18%;
      margin: .5%;
    }
}
